# compiled output
/dist
/node_modules
/build
/prisma/generated

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.backup

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

temp_auto_push.bat
temp_interactive_push.bat
.gitignore
config.bat
config.bat

=======
config.bat
.env.example
pnpm-lock.yaml
pnpm-workspace.yaml

uploads/
!uploads/.gitkeep
